<div class="one">
        <button type="button" [routerLink]="['/userComponent']" class="btn btn-dark btn-outline-primary btn-block btn-lg">
            <i class="material-icons one">person</i>
            USUARIOS
        </button>
        <button type="button" [routerLink]="['/createUserComponent']" class="btn btn-dark btn-outline-success btn-block btn-lg">
            <i class="material-icons one">person_add</i>
            AGREGAR USUARIOS
        </button>
</div>

<router-outlet></router-outlet>