/* You can add global styles to this file, and also import other style files */

.titulo{
    font-size: 200%;
    margin-bottom: 15px;
    font-weight: bold;
}

.one{
    padding: 0 auto;
    margin: 10px;
    // text-align: center;
}